@page "/"
@inject IConfiguration _config

<PageTitle>Index</PageTitle>

<p>
    MySettings : @MySettings
</p>

<p>
    ChildSettings :  @childSettings
</p>

<p>
    ConnectionString :  @connectionString
</p>


@code {
    string MySettings = "";
    string childSettings = "";
    string connectionString = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        MySettings = _config.GetValue<string>("MySettings");
        childSettings = _config.GetValue<string>("ParentSettings:ChildSettings");
        connectionString = _config.GetConnectionString("Default");
    }
}




